<!DOCTYPE html>
<html>
  <head>
    <title>Backgroundify!</title>
    {% if css_file %}
      <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='sample/css/sample.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url"                content="https://backgroundify.com/sample" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Backgroundify!" />
    <meta property="og:description"        content="Make your favorite websites your device wallpaper" />
    <meta property="og:image"              content="" />
  </head>
</html>
